@import url(bloc.css);
*{
  box-sizing: border-box;
}
*{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
h1 {
    color: black;
    font-size: 2em;
    text-decoration:underline;
    /*background-color: lime;*/
}
h2{
    color: blue;
    text-decoration: underline;
    /* Commentaire CSS */
 }
 p{
    color: black;
 }
 #para1{
        color: red;
 }
 .ok{
    font-size: 20px;
    color: green;
    }
    #titre{
      color: #fff;
      text-decoration: none;
    }
    .entete{
      
    }

    .logo{
      width: 50px;
      margin-left: 50px;
      margin-top: 20px;
      margin-bottom: -50px;
    }


    nav{
      font-size: 20px;
      background-color: rgb(104, 106, 109);
      color: #fff;
      height: 70px;
   }
 
   ul>li {
      margin-left: 65px;
      margin-bottom: 30px;
      display: inline-block;
   }
   
    .wrapper{
      width: 700px;
      height: 350px;
      border: 5px solid rgb(10, 243, 68);
      background-image: url(images/it.PNG) ;
      background-size: 800px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      color: #fff;
      padding: 7px;
    }
    .btn{
      color: #fff;
      background-color: rgb(10, 243, 68);
      text-decoration: none;
      border-radius: 8px;
    }


 body{
  /* background-color: rgb(131, 241, 241);
   background-image: url(images/parallax.png);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   */
 }